docs_dir: src
site_name: Abls-Habitat Docs
site_url: https://docs.abls-habitat.fr/
repo_url: https://github.com/sebaru/
edit_uri: blob/main/src
repo_name: Abls-Habitat Repository
site_description: Home Automation by Abls-Habitat
site_author: Sébastien et Bruno Lefèvre
site_dir: build
extra_css: [extra.css]

nav:

 - Découverte:
   - Tour d'horizon: index.md
   - Galerie: galerie.md
 - Prise en main:
   - Guide de démarrage: guide_demarrage.md
   - Architecture: architecture.md
 - Guide de l'utilisateur:
   - Les Utilisateurs: users.md
 - Connecteurs:
   - Description: connecteurs.md
   - I/O Wago modbus: io_modbus.md
   - I/O RaspberryPI: io_gpiod.md
   - I/O Phidget: io_phidget.md
   - Audio output: io_audio.md
   - Instant Messaging: io_imsgs.md
   - SMS Short Message System: io_smsg.md
   - E.D.F Teleinfo: io_teleinfoedf.md
   - SHELLY: io_shelly.md
   - UPS Uninterruptible Power Supply: io_ups.md
   - DMX Projecteurs: io_dmx.md
   - Benq Projecteurs: io_projo.md
 - D.L.S:
   - Concept: dls.md
   - Acronymes: dls_acronymes.md
   - Logique: dls_logique.md
   - Entrées T.O.R: dls_entre_tor.md
   - Registres: dls_registres.md
   - Monostables: dls_monostables.md
   - Messages: dls_messages.md
   - Compteurs d'impulsions: dls_cpti.md
   - Compteurs horaire: dls_cpth.md
   - Visuels: dls_visuels.md
   - Liens: dls_link.md
   - Exemple d'anatomie: dls_anatomie.md
 - Mapping:
   - Lien entre connecteur et D.L.S: mapping.md
 - Visuels:
   - L'inventaire de visuels: visuels.md
   - Les boutons: dls_visuel_bouton.md
   - Les commentaires: dls_visuel_comment.md
 - Contacts:
   - Qui sommes-nous ?: auteurs.md
 - Console: https://console.abls-habitat.fr

theme:
 name: material
 logo: https://static.abls-habitat.fr/img/abls.svg
 locale: fr
 language: fr
 features:
  - navigation.instant
  - navigation.tabs
  - navigation.tracking
  - navigation.tabs.sticky
  - navigation.sections
  - toc.integrate
  - navigation.top
  - search.suggest
  - search.share
#  - navigation.indexes
 palette: # (1)!
    - media: "(prefers-color-scheme: dark)"
      primary: indigo
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

    - media: "(prefers-color-scheme: light)"
      primary: indigo
      scheme: default
      toggle:
        icon: material/brightness-7 # (2)!
        name: Switch to dark mode

extra:
  social:
    - icon: fontawesome/brands/github # (1)!
      link: https://github.com/sebaru

plugins:
  - git-revision-date-localized:
      type: datetime
      enable_creation_date: true
  - search

markdown_extensions:
  - admonition
